* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#canvas {
  display: block;
}

.rocket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rocket img {
  width: 200px;
  animation: move 2s ease-in infinite;
}

@keyframes move {
  0%,
  100% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, 5px);
  }
}